<h1>These are my front-end apps:</h1>

<ul>
    <li><%= link_to 'Simple Javascript Calculator', frontendapps_calc_path %></li>
    <li><%= link_to 'Object-Oriented Javascript Calculator', frontendapps_oocalc_path %></li>
    <li><%= link_to 'Pomodoro timer', frontendapps_pomodoro_path %></li>
    <li><%= link_to 'TicTacToe', frontendapps_tictactoe_path %></li>    
</ul>