<script>

    function Calculator(){
      this.add = function(num1, num2){
          return num1 + num2;
      };
      
      this.subtract = function(num1, num2){
          return num1 - num2;  
      };
      
      this.multiply = function(num1, num2){
          return num1 * num2;
      };
      
      this.divide = function(num1, num2){
          return num1 / num2;
      }
    };

    $(function(){
        var calc = new Calculator();
        
        var display="";
        var dispWindow = $(".calc-display");
        
        $(".num").click(function(){
            display += $(this).html();
            console.log(display);
            dispWindow.html(display);            
        });
        
        $(".ce").click(function(){
            display="";
            dispWindow.html(display);
        });
        
        $(".del").click(function(){
           display = display.slice(0,-1);
           dispWindow.html(display);
        });
        
        $(".eq").click(function(){
            display = eval(display);
            dispWindow.html(display);            
        });
    });
</script>

<div class="container-fluid">
    <div class="booyah-calc col-xs-offset-4">
        <div class="calc-display col-xs-5">
            <p>Press some buttons</p>
        </div>
        <div class="booyah-row clr">
            <button class="btn btn-small col-xs-1 ce">CE</button>
            <button class="btn btn-small col-xs-1">AC</button>
            <button class="btn btn-small col-xs-1">MR</button>
            <button class="btn btn-small col-xs-1 eq">=</button>               
        </div><br />        
        <div class="booyah-row clr">
            <button class="btn btn-small col-xs-1 num">1</button>
            <button class="btn btn-small col-xs-1 num">2</button>
            <button class="btn btn-small col-xs-1 num">3</button>
            <button class="btn btn-small col-xs-1 num">+</button>               
        </div><br />
        <div class="booyah-row clr">
            <button class="btn btn-small col-xs-1 num">4</button>
            <button class="btn btn-small col-xs-1 num">5</button>
            <button class="btn btn-small col-xs-1 num">6</button>
            <button class="btn btn-small col-xs-1 num">-</button>               
        </div><br />
        <div class="booyah-row clr">
            <button class="btn btn-small col-xs-1 num">7</button>
            <button class="btn btn-small col-xs-1 num">8</button>
            <button class="btn btn-small col-xs-1 num">9</button>
            <button class="btn btn-small col-xs-1 num">*</button>               
        </div><br />
        <div class="booyah-row clr">
            <button class="btn btn-small col-xs-1 del">DEL</button>
            <button class="btn btn-small col-xs-1 num">0</button>
            <button class="btn btn-small col-xs-1 num">.</button>
            <button class="btn btn-small col-xs-1 num">/</button>               
        </div><br />         
    </div>
</div>